@model IEnumerable<NetCoreMvcMongoExample.Models.Submission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<body class="no-scroll-y">

    <!-- Preloader -->


</body>

<style>
    /* Paste this css to your style sheet file or under head tag */
    /* This only works with JavaScript,
    if it's not present, don't show loader */
    .no-js #loader {
        display: none;
    }

    .js #loader {
        display: block;
        position: absolute;
        left: 100px;
        top: 0;
    }

    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(https://localhost:44368/Images/Preloader_11.gif) center no-repeat #fff !important;
        z-index: 999999999;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script>
    //paste this code under the head tag or in a separate js file.
    // Wait for window load
    $(window).load(function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");;
    });
</script>
<div class="se-pre-con"></div>
<p>
    <a asp-action="Create" class="btn btn-primary p-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg> Create New
    </a>
</p>

@if (@TempData["TDFriend"] != null)
{

    <div class="toast pl-2 pr-2" style="position: absolute; top: 16px; right: 0;" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto text-primary">@TempData["TDFriend"]</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
            <small>Record Deleted!!</small>
        </div>
    </div>
}

<table class="table progress-bar-striped">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                    <a asp-action="Edit" class="btn-primary p-2" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true" data-toggle="tooltip" title="Edit!"></i> </a> |


                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |*@
                    <a asp-action="Delete" class="btn-primary p-2" asp-route-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="Delete!"></i> </a> |


                    @*@Html.ActionLink("SendMail", "SendMail", new { id = item.Id })*@

                    <a asp-action="" data-toggle="modal" data-target="#exampleModal" class="IdInfo btn-primary p-2" data-id="@item.Id"  asp-route-id="@item.Id"><i class="fas fa-paper-plane" aria-hidden="true" data-toggle="tooltip" title="Send Mail!"></i> </a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("SendMail", "Submission", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- Modal -->
    
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       
                        <input id="input" type="text" name="id"  value="" style="display:none;"/>
                        <input type="text" name="Subject" class="form-control mt-1" placeholder="Enter subject..." required />
                        <input type="text" name="MailCC" class="form-control mt-1" placeholder="Enter MailCC..." required />
                        <input type="text" name="MailBCC" class="form-control mt-1" placeholder="Enter MailBCC..." required />
                        <input type="file" name="Attachments" class="form-control mt-1" placeholder="Upload Attchemnet..." required />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" value="Submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
}





@if (@TempData["mailsent"] != null)
{

    <div class="toast pl-2 pr-2" style="position: absolute; top: 16px; right: 0;" data-autohide="false">
        <div class="toast-header">
            <strong class="mr-auto text-primary">@TempData["mailsent"]</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
            <small>Please check inbox or spam folder</small>
        </div>
    </div>

}



<script type="text/javascript">
    $(document).on("click", ".IdInfo", function () {
        var myId = $(this).data('id');//get Id from data-id
        //alert(myId);
       // $('.modal-content').load("/Submission/SendMail/" + myId);
        $('#input').val(myId);// load Edit page to modal content
    }); 
    $(document).ready(function () {
        $('.toast').toast('show');
    });

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
